*
{
	margin:0px;
	padding:0px;

}

body,html
{

	background: #ff8e00; /* Old browsers */
	background-image:url();
    height:100%;

}

h2 {
  font: 400 38px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #65016C;

}

.imageContainer
{

opacity:0.4;
filter:alpha(opacity=40);
}

#background_img
{
    float:right;
    height:40%;
    width:50%;
}

.categoryItem
{
	font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
	border-bottom: 1px solid #C936D3;
}

li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}
 

.bigContainer
{
    min-width:1000px;
    min-height:800px;
	position:relative;
	height:100%;


}

.logoBar
{
    min-width:1000px;
	position:fixed;
	z-index:1;
	top:0px;
	left:0px;
	height:40px;
	width:100%;
	background: linear-gradient(#FF8E00, #FFC173);
}

.logo{
	
	float:left;
	width:40px;
	height:40px;
}

.name
{
	
	float:left;

}

.categoriesContainer
{

	position:absolute;
	top:60px;
	left:1%;
	width:18%;
	height:65%;
	background-color:#E6FB71;
	border:2px solid #A5B92E;
	border-radius:25px;
}

.productContainer
{

	position:absolute;
	top:60px;
	left:20%;
	width:28%;
	height:65%;
	background-color:#FFC173;
	border:2px solid #FF8E00;
	border-radius:25px;

}

.categoryList
{
    width:200px;
}

.iframeContainer
{
    width:99%;
    height:80%;
    border:none;
}

.orderContainer
{

	position:absolute;
	top:60px;
	left:50%;
	width:28%;
	height:65%;
	background-color:#FFAA40;
	border:2px solid #FF8E00;
	border-radius:25px;

}

.buttonContainer
{
    min-width:600px;
	position:fixed;
    float:bottom;
	z-index:1;
	bottom:0px;
	height:150px;
	width:100%;
	background: linear-gradient(#FFC173, #FF8E00);

}

.waiterButton
{
    position:absolute;
    left:0px;
    width:25%;
    height:150px;
    border-right: 2px solid #BF8030;
    border-left: 2px solid #BF8030;

}
.orderButton
{
    position:absolute;
    left:25%;
    width:25%;
    height:150px;
     border-right: 2px solid #BF8030;
     border-left: 2px solid #BF8030;
}
.payButton
{
    position:absolute;
    left:50%;
    width:25%;
    height:150px;
     border-right: 2px solid #BF8030;
     border-left: 2px solid #BF8030;
}
.wallButton
{
    position:absolute;
    left:75%;
    width:25%;
    height:150px;
     border-right: 2px solid #BF8030;
     border-left: 2px solid #BF8030;
}

.buttonImg
{
    position:absolute;
    left:40%;
    top:20%;
    height:50%;
    width:25%;
}

