*
{
	margin:0px;
	padding:0px;

}


.tableItem
{
	width:85%;
	height:10%;
}

.tableLabel
{
	width:50%;
	float:left;
}

.iconContainer
{
	width:50%;
	float:left;
}

.waiterCallIcon
{
	width:35px;
	height:35px;

}

.orderCallIcon
{
	width:35px;
	height:35px;

}

.payCallIcon
{
	width:35px;
	height:35px;

}

.categoryItem
{
	font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
	border-bottom: 1px solid #C936D3;
}

li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li:hover {
  font-size: 30px;
  background: #f6f6f6;
}


.tableItemSelected
{
    font-size: 30px;
     background: #ffffff;
     color:white;
}

