{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'SoReWa admin' %}{% endblock %}

       {% block extrastyle %}
        <style>

            #header, .section, .module caption, .module h2
            {
                background: linear-gradient(#FF8E00, #FFC173) repeat scroll 0 0 rgba(0, 0, 0, 0);
            }
            #branding h1
            {
                color:#E6FB71;
                font-size: 18px;
                font-weight: normal;
                margin: 8px 0;
                padding: 0 10px;
            }

            .img_thumbnail
            {
                height:100px;
	            width:100px;
            }

            .button.default, input.default[type="submit"], .submit-row input.default
            {
                background: linear-gradient(#FF8E00, #FFC173) repeat scroll 0 0 rgba(0, 0, 0, 0);
                border: 2px solid #FF8E00;
            }

            .object-tools a.addlink
            {
                background: url("../img/tooltag-add.gif") no-repeat scroll right top #A5B92E;
                padding-right: 28px;
            }
            a.deletelink:link, a.deletelink:visited
            {
                border:5px solid;

                border-style:outset;


            }



        </style>
        {% endblock %}


{% block branding %}
<h1 id="site-name">{% trans 'SoReWa administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
