{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'SoReWa admin' %}{% endblock %}

       {% block extrastyle %}
        <style>

            #header, .section, .module caption, .module h2
            {
                background: linear-gradient(#FF8E00, #FFC173) repeat scroll 0 0 rgba(0, 0, 0, 0);
            }
            #branding h1
            {
                color:#E6FB71;
                font-size: 18px;
                font-weight: normal;
                margin: 8px 0;
                padding: 0 10px;
            }



        </style>
        {% endblock %}


{% block branding %}
<h1 id="site-name">{% trans 'SoReWa administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
