<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    {% load staticfiles %}
    <link href="{% static "css/food_item.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>

        <ul>
            {% for product in products_list %}


            <li class="productListItem">
                <span  class="productName">
                    {{ product.name }}
                </span>
                <span  class="productThumbnail">
                    <!-- <img src="/media/ url producto}}"> -->
                    {% if '/logoSoReWa.jpg' in product.image %}
                        <img src="/static/{{ product.image }}">
                    {% else %}
                        <img src="/media/{{ product.image }}">
                    {% endif %}
                </span>
                <span  class="productDescription">{{product.description}}</span>
                <span  class="productPrice">
                    <p>${{product.price}}</p>
                </span>
                <span class="productAddRemoveButtons">
                    <input type="button" class="productAddButton" value=" + "><a href="category_products/Food/ " target="order_iframe"></a></input>
                    <input type="button" class="productRemoveButton" value="  -  ">
                </span>
            </li>
            {% endfor %}

        </ul>

    </div>
</body>
</html>