<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    {% load staticfiles %}
<link href="{% static "css/table.css" %}" rel="stylesheet" type="text/css" />
<title>Untitled 1</title>
</head>

<body>
<script type="text/javascript">
        var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        function IsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            document.getElementById("error").style.display = ret ? "none" : "inline";
            return ret;
        }
        
        function validateForm()
{
var x=document.forms["myForm"]["table_number"].value;
if (x==null || x=="")
  {
  alert("Debes ingresar el numero de la mesa");
  return false;
  }
}
    </script>
<div>
<div class="logoBar"><img class="logo" src="{% static "imgs/logoSoReWa.jpg" %}"><h1 class="name"> それ は 何 です か.</h1></div>

<div>
	<div> Select the number of your Table:</div>
	<div>
		<form  name="myForm" action="" method="get" onsubmit="return validateForm()" >
			<input list="table_numbers" name="table_number" onkeypress="return IsNumeric(event);" ondrop="return false;" onpaste="return false;" >
				<datalist id="table_numbers">
					{% for table in table_list %}
                     <option value="{{table.number}}">
                    {% endfor %}
				</datalist>
				<span id="error" style="color: Red; display: none">* Input digits (0 - 9)</span>
			<input type="submit" value="Choose Table" >

            {% if error %}
                <span>table is already occupied, please select another</span>
            {% endif %}
		</form>
	</div>
</div>
<div>

    

</div>

</div>
</body>

</html>
