<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    {% load staticfiles %}
<link href="{% static "css/table.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/food_item.css" %}" rel="stylesheet" type="text/css" />

<title>Untitled 1</title>
</head>

<body>
<div class="bigContainer">
	<div class="logoBar"><img class="logo" src="{% static "imgs/logoSoReWa.jpg" %}"><h1 class="name">これ は 何 です か.</h1></div>
	<div class="categoriesContainer">
		<h2>Categorias</h2>
	  	<ul class="categoryList">
            {% for category in category_list %}
                <li class="categoryItem"><a href="#">{{ category.name }}</a></li>
            {% endfor %}
		    <li class="categoryItem"><a href="#">C</a></li>
		    <li class="categoryItem"><a href="#">B</a></li>
		</ul>
	</div>
	<div class="productContainer">
	<h2>Productos</h2>
	<ul>
		<li class="productListItem">
			<span  class="productName">
				<h3>Nombre del plato</h3>
			</span>
			<span  class="productThumbnail">
                <!-- <img src="/media/ url producto}}"> -->
				<img src="/media/imgs/ch.jpg">
			</span>
			<span  class="productDescription">Aca  mismoAca alguna descripcion del plato con los productos que incluye e ingredientes de este mismo, Aca  mismoAca alguna descripcion del plato con los productos que incluye e ingredientes de este mismo			</span>
			<span  class="productPrice">
				<p>$999999.99</p>
			</span>
			<span class="productAddRemoveButtons">
				<input type="button" class="productAddButton" value=" + ">
				<input type="button" class="productRemoveButton" value="  -  ">
			</span>
		</li>		

		
	</ul>
</div>
	<div class="orderContainer">
	<h2>Tu Orden</h2>

	</div>
	<div class="buttonContainer"></div>
</div>
</body>

</html>
