<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    {% load staticfiles %}
<link href="{% static "css/table.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/food_item.css" %}" rel="stylesheet" type="text/css" />

<title>Untitled 1</title>
</head>

<body>
<div class="bigContainer">
	<div class="logoBar"><img class="logo" src="{% static "imgs/logoSoReWa.jpg" %}"><h1 class="name"> それ は 何 です か.</h1></div>
    <div class="buttonContainer">
        <div class="waiterButton"><img class="buttonImg" src="{% static "imgs/waiter-icon.png" %}" alt="Call Waiter"></div>
        <div class="orderButton"><img class="buttonImg" src="{% static "imgs/order-icon.png" %}" alt="Make Order"></div>
        <div class="payButton"><img class="buttonImg" src="{% static "imgs/pay-icon.png" %}" alt="Pay"></div>
        <div class="wallButton"><img class="buttonImg" src="" alt="Social Wall"></div>

    </div>
    <div class="imageContainer"><img src="{% static "imgs/bambu.png" %}"></div>
	<div class="categoriesContainer">
		<h2>Categorias</h2>
	  	<ul class="categoryList">
            {% for category in category_list %}
                <li class="categoryItem"><a href="/category_products/{{ category.name }}/ " target="product_iframe">{{ category.name }}</a></li>
            {% endfor %}

		</ul>
	</div>
	<div class="productContainer">
        <h2>Productos</h2>
        <iframe class="iframeContainer"  name="product_iframe">

        </iframe>


</div>
	<div class="orderContainer">
	<h2>Tu Orden</h2>
       <iframe class="iframeContainer"  name="order_iframe">

       </iframe>
	</div>

</div>
</body>

</html>
