<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    {% load staticfiles %}
    <link href="{% static "css/food_item.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>

        <ul>
            {% for order_product in products_list %}


            <li class="productListItem">
                <span  class="productName">
                    {{ order_product.product.name }}
                </span>
                <span  class="productThumbnail">
                    <!-- <img src="/media/ url producto}}"> -->
                        <a href="/category_products/Food/ " target="order_iframe">
                        <img src="/media/{{ order_product.product.image }}">
                            </a>

                </span>
                <span  class="productDescription">{{order_product.product.description}}</span>
                <span  class="productPrice">
                    <p>${{order_product.product.price}}</p>
                </span>
                <span class="productAddRemoveButtons">
                    <form action="/remove_product_from_order/" target="order_iframe"method="post">
                        {% csrf_token %}
                         <input class="for_input" name="product_name"  value="{{ order_product.product.name }}" >
                        <input class="productRemoveButton" type="submit" value=" - ">
                     </form>


                </span>
            </li>

            {% endfor %}

        </ul>

    </div>
</body>
</html>