<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<link href="waiterScreen.css" rel="stylesheet" type="text/css" />
<title>Untitled 1</title>
</head>

<body>
	<div id="big_container">
		<div class="logoBar"><img class="logo" src="logoSoReWa.jpg"><h1 class="name">これ は 何 です か.</h1></div>

		<div id="table_list_container">
			<h2>Tables</h2>
			
			<iframe class="iframeContainer" src="table_item.html" name="table_iframe"></iframe>
			
		  	
			    
			</ul>
		</div>
		<div id="order_container">
			<h2>Order</h2>
			<iframe class="iframeContainer" src="" name="order_iframe"></iframe>

		</div>
		<div id="product_container">
			<h2>Products</h2>
			<iframe class="iframeContainer" src="food_item.html" name="product_iframe"></iframe>

			
		</div>	
	</div>
</body>

</html>
