<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    {% load staticfiles %}
<link href="{% static "css/waiterScreen.css" %}" rel="stylesheet" type="text/css" />
<title>SoReWa Waiter UI</title>
</head>

<body>
	<div id="big_container">
		<div id="barra" class="logoBar" onclick="hidestuff('barra');"><img class="barraSuperior" src="{% static "imgs/Barra_superior2.png" %}"><img class="logo" src="{% static "imgs/logoSoReWa.png" %}" alt='それ は 何 です か.'/></div>

		<div id="table_list_container">
			<h2>Tables</h2>
			
			<iframe class="iframeContainer" src="/view_tables/" name="table_iframe"></iframe>
			
		  	
			    
			</ul>
		</div>
		<div id="order_container">
			<h2>Order</h2>
			<iframe class="iframeContainer" src="" name="order_iframe"></iframe>

		</div>
		<div id="product_container">
			<h2>Products</h2>
			<iframe class="iframeContainer" src="/products/" name="product_iframe"></iframe>

			
		</div>	
	</div>
</body>

</html>
